:root {
    --primary-color: rgb(120, 218, 218);
    --secondary-color: rgb(40, 102, 82);
    --third-color: rgb(214, 220, 220);
    --accent1-color: rgb(0, 0, 0);
    --accent2-color: rgb(255, 255, 255);
    --heading-font: "Times New Roman", "Arial", "Serif";
    --body-font: "Arial", "Sands-serif", "Georgia";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: var(--secondary-color);
    padding: 10px;
    margin-bottom: 10px;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin-bottom: 10px;
    background-color:var(--secondary-color);
    align-items: center;
}

header img {
    width: 110px;
    height: 110px;
    align-self: center;
    justify-self: center;
}

.first-title {
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
}

section {
    margin: 30px 0 0 0;
    padding: 0;
}

h2 {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    text-align: center;
    padding: 5px;
}

section img {
    max-width: 300px;
    align-self: center;
}

section p {
    align-self: center;
    justify-content: center;
}

footer {
    border-top: 1px solid rgb(172, 172, 172, 0.5);
    text-align: right;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

/* classes */

.socialmedia img {
    max-width: 40px;
}

.socialmedia a {
    text-decoration: none;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
}

.adventure h2 {
    grid-column: 1/6;
}

.adventure figure {
    align-self: center;
    width: 100%;
}

.adventure img {
    grid-row-start: 1;
    width: 100%;
    height: auto;
}

.adventure figcaption {
    text-align: center;
}

.hero article {
    position: absolute;
    top: 80px;
    left: 350px;
    width: 900px;
    text-align: center;
    background-color: var(--accent2-color);
    max-width: 470px;
    margin: 10px;
    opacity: 0.8;
}

.hero article img {
    width: 230px;
    height: 170px;
    float: right;
    margin: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    align-items: start;
    border: 1px solid black;
}

.container img {
    box-shadow: 0px 0px 10px 5px;
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.navigation li {
    padding: 5px 30px;
    font-weight: bold;
}

.navigation a {
    text-decoration: none;
    color: var(--accent2-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* Contact us addition */

.address h2 {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.address {
    text-align: center;
}

.address p {
    padding: 2px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

iframe {
    max-width: 400px;
    height: 400px;
    padding: 15px;
    border: none;
    margin-top: 15px;
}

form {
    padding: 1rem;
    margin: 1rem;
}

.form-item {
    padding: 0.3rem;
    margin: 0.3rem;
    display: grid;
    align-items: end;
    font-size: 1rem;
}

.column1 {
    grid-template-columns: 1fr 2fr;
}

.column2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    gap: 0px;
    font-size: small;
    justify-content: flex-end;
}

.column3 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: small;
    justify-content: center;
}

input, textarea {
    padding: 0.5rem;
    border-radius: 0.2rem;
}

button {
    display: block;
    margin: 0 auto;
    width: 325px;
    padding: 5px;
}

label {
    align-self: center;
    display: inline-block;
    padding: 3px;
}

.knowus {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    max-width: 100%;
    width: 100%;
    margin-top: 15px;
    justify-items: center;
    border: 1px solid black;
    padding: 0 0.5rem 2rem;
    background-color: rgb(211, 211, 211);
}

.knowus h3 {
    grid-column: 1/4;
    align-self: center;
    text-align: center;
    padding: 10px;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.knowus img {
    max-width: 200px;
    grid-row-start: 2;
}

.adventure figure {
    text-align: center;
}

/* Index CSS */

.hero h1 {
    position: absolute;
    top: 20px;
    color: var(--secondary-color);
    background-color: rgb(255, 255, 255, 0.7);
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
}

.hero h4 {
    position: absolute;
    top: 435px;
    color: var(--primary-color);
    width: 100%;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}

.newsletter {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    background-color: rgb(214, 220, 220);
}

.catch {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0, 0.7);

}

.catch img {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(0, 0, 0, 0.9);
}

.catch a, .catch p {
    text-align: center;
    padding: 5px;
    margin: 5px;
    color: var(--accent1-color);
}

.subscribe {
    align-content: center;
}

.subscribe legend {
    margin: 0 auto;
    font-size: x-large;
}

.subscribe fieldset {
    text-align: center;
    padding: 10px;
    width: 350px;
    height: auto;
}

.subscribe button {
    width: 150px;
    font-size: x-large;
    margin-top: 20px;
}

.subscribe label, input {
    font-size: larger;
    padding: 10px;
}

fieldset img {
    width: 50px;
}

.mission-offer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 2fr;
    width: 100%;
    height: auto;
    gap: 20px;
}

.mission-offer h2 {
    grid-column: 1/3;
    height: 55px;
    align-content: center;
    margin-top: 10px;
}

.mission-offer img {
    width: 100%;
    height: 250px;
}

.column4 {
    justify-items: center;
    background-color: var(--third-color);
    border: 1px solid black;
}

.column4 h3 {
    padding: 5px;
    justify-self: center;
    font-size: larger;
}

/* Trips CSS */

.call {
    position: relative;
    display: block;
}

.call img {
    width: 100%;
}

.call h2 {
    position: absolute;
    top: 10px;
    background-color: rgba(226, 228, 255, 0.8);
    font-size: xx-large;
    color: var(--secondary-color);
}

.call a { 
    position: absolute;
    bottom: 30px;
    right: 260px;
    font-size: xx-large;
    color: var(--accent2-color);
}

.some-trips {
    display: flex;
    flex-direction: column;
}

.some-trips figure {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 290px;
    align-items: center;
    justify-items: center;
    border: 1px solid rgb(0, 0, 0, 0.5);
    margin: 10px 0;
}

.trips-info {
    height: auto;
    grid-column: 1/3;
    text-align: center;
    align-content: center;
    padding: 10px;
    width: 100%;
    height: 50px;
    background-color: var(--secondary-color);
    color: aliceblue;
    font-size: x-large;
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
}

.some-trips h2 {
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: 700;
    font-size: xx-large;
    padding: 20px;
}

.tripsimg {
    box-shadow: 0px 0px 10px 5px;
    padding: 10px;
    margin: 10px;
}

.tripstxt {
    background-color: rgb(222, 253, 243);
}

.prices {
    border: 2px solid black;
    border-collapse: collaps;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: center;
}

thead th,
tfoot tr {
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: 700;
}