:root {
    --primary-color: rgb(155, 239, 239);
    --accent1-color: rgb(1, 1, 92);
    --accent2-color: rgb(221, 219, 214);
    --heading-font: "Times New Roman", "Arial", "Serif";
    --body-font: "Arial", "Sands-serif", "Georgia";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin-bottom: 10px;
    background-color: rgb(140, 175, 236);
    align-items: center;
}

header img {
    width: 110px;
    height: 110px;
    align-self: center;
    justify-self: center;
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.navigation li {
    border: 1px solid rgb(8, 10, 123);
    padding: 5px 30px;
    font-weight: bold;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: rgb(27, 30, 66);
}

.hero article {
    position: absolute;
    top: 80px;
    left: 350px;
    width: 900px;
    text-align: center;
    background-color: var(--accent2-color);
    max-width: 470px;
    margin: 10px;
    opacity: 0.8;
}

.hero article img {
    width: 230px;
    height: 170px;
    float: right;
    margin: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    align-items: start;
}

section {
    margin: 30px 0 0 0;
    padding: 0;
}

h2 {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

section img {
    max-width: 300px;
    align-self: center;
}

section p {
    align-self: center;
    justify-content: center;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}

.adventure h2 {
    grid-column: 1/6;
}

figure {
    align-self: center;
}

figure img {
    grid-row-start: 1;
}

figure figcaption {
    text-align: center;
    align-self: flex-end;
}

footer {
    border-top: 1px solid rgb(172, 172, 172, 0.5);
    text-align: right;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.socialmedia img {
    max-width: 40px;
}