:root {
    --primary-color: rgb(120, 218, 218);
    --secondary-color: rgb(51, 95, 172);
    --accent1-color: rgb(0, 0, 0);
    --accent2-color: rgb(255, 255, 255);
    --heading-font: "Times New Roman", "Arial", "Serif";
    --body-font: "Arial", "Sands-serif", "Georgia";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin-bottom: 10px;
    background-color:var(--secondary-color);
    align-items: center;
}

header img {
    width: 110px;
    height: 110px;
    align-self: center;
    justify-self: center;
}

.first-title {
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
}

section {
    margin: 30px 0 0 0;
    padding: 0;
}

h2 {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    text-align: center;
    padding: 10px;
}

section img {
    max-width: 300px;
    align-self: center;
}

section p {
    align-self: center;
    justify-content: center;
}

footer {
    border-top: 1px solid rgb(172, 172, 172, 0.5);
    text-align: right;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

/* classes */

.socialmedia img {
    max-width: 40px;
}

.socialmedia a {
    text-decoration: none;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
}

.adventure h2 {
    grid-column: 1/6;
}

.adventure figure {
    align-self: center;
    width: 100%;
}

.adventure img {
    grid-row-start: 1;
    width: 100%;
    height: auto;
}

.adventure figcaption {
    text-align: center;
}

.hero article {
    position: absolute;
    top: 80px;
    left: 350px;
    width: 900px;
    text-align: center;
    background-color: var(--accent2-color);
    max-width: 470px;
    margin: 10px;
    opacity: 0.8;
}

.hero article img {
    width: 230px;
    height: 170px;
    float: right;
    margin: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    align-items: start;
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.navigation li {
    padding: 5px 30px;
    font-weight: bold;
}

.navigation a {
    text-decoration: none;
    color: var(--accent2-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* Contact us addition */

.address h2 {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.address {
    text-align: center;
}

.address p {
    padding: 2px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

iframe {
    max-width: 400px;
    height: 400px;
    padding: 15px;
    border: none;
    margin-top: 15px;
}

form {
    padding: 1rem;
    margin: 1rem;
}

.form-item {
    padding: 0.3rem;
    margin: 0.3rem;
    display: grid;
    align-items: end;
    font-size: 1rem;
}

.column1 {
    grid-template-columns: 1fr 2fr;
}

.column2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    gap: 0px;
    font-size: small;
    justify-content: flex-end;
}

input, textarea {
    padding: 0.5rem;
    border-radius: 0.2rem;
}

button {
    display: block;
    margin: 0 auto;
    width: 325px;
    padding: 5px;
}

label {
    align-self: center;
    display: inline-block;
    padding: 3px;
}

.knowus {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    max-width: 100%;
    width: 100%;
    margin-top: 15px;
    justify-items: center;
    border: 1px solid black;
    padding: 0 0.5rem 2rem;
    background-color: rgb(211, 211, 211);
}

.knowus h3 {
    grid-column: 1/4;
    align-self: center;
    text-align: center;
    padding: 10px;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.knowus img {
    max-width: 200px;
    grid-row-start: 2;
}

figure {
    text-align: center;
}
