@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Sedan+SC&display=swap');

* {
    width: fit-content;
    margin: 10px;
    padding: 25px;
    background-color: var(--accent2-color);
    box-sizing: border-box;
    text-indent: 1px;
}
.sedan-sc-regular {
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
  }

:root {
    --primary-color: #2176AE;
    --secondary-color: #061A40;
    --accent1-color: #775144;
    --accent2-color: #FFEDDF;

    --heading-font: sedan SC, serif;
    --paragraph-font: PT serif, serif;

    --nav-background-color: #FFEDDF;
    --nav-link-color: #2176AE;
    --nav-hover-link-color: #FFEDDF;
    --nav-hover-background-color: #775144;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid black;
    max-width: 8000px;
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 250px;
    height: auto;
}

.navigation {
    display: flex;
    padding: 10px;
    border: 10px 0 black;
    margin: 5px;
}

.navigation li {
	flex: 2 2 100%;
}

nav {
    text-align: right;
}

.navigation a:hover {
    color: #061A40;
    font-weight: 700;
	text-decoration: underline;
}

h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

p {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
    float: left;
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    position: absolute;
    top: 550px;
    right: 475px;
}

article img {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 95%;
    right: 25%;
}

article p {
    width: 500px;
    height: 180px;
    position: absolute;
    top: 105%;
    right: 40%;
    clear: left;
    text-align: center;
}

section img {
    display: block;
    position: relative;
    width: 200px;
}


.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}

.employee {
    position: absolute;
    top: 125px;
    left: 100px;
}

.hero img{
    position: relative;
    width: 110%;
    height: 120%;
    padding: 10px;
    margin: 10px;
}

.adventure img{
    display: flex;
    flex-wrap: wrap;
}