:root {
    --primary-color: rgb(155, 239, 239);
    --accent1-color: rgb(1, 1, 92);
    --accent2-color: rgb(221, 219, 214);
    --heading-font: "Times New Roman", "Arial", "Serif";
    --body-font: "Arial", "Sands-serif", "Georgia";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

header img {
    width: 110px;
    height: 110px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: rgb(27, 30, 66);
}

.hero article {
    position: absolute;
    top: 97px;
    left: 350px;
    width: 850px;
    text-align: center;
    background-color: var(--accent2-color);
    max-width: 460px;
    margin: 10px;
    opacity: 0.8;
}

.hero article img {
    width: 230px;
    height: 170px;
    float: right;
    margin: 10px;
}

section h2 {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    text-align: center;
    padding: 10px;
}

footer {
    border-top: 1px solid rgb(172, 172, 172, 0.5);
}

section {
    margin: 30px 0 0 0;
    padding: 0;
}