@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Sedan+SC&display=swap');

* {
    margin: 10px;
    padding: 25px;
    box-sizing: border-box;
    text-indent: 1px;
}
.sedan-sc-regular {
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
  }

:root {
    --primary-color: #2176AE;
    --secondary-color: #061A40;
    --accent1-color: #775144;
    --accent2-color: #FFEDDF;

    --heading-font: sedan SC, serif;
    --paragraph-font: PT serif, serif;

    --nav-background-color: #FFEDDF;
    --nav-link-color: #2176AE;
    --nav-hover-link-color: #FFEDDF;
    --nav-hover-background-color: #775144;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid black;
    max-width: 8000px;
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 250px;
    height: auto;
}

.navigation {
    display: flex;
    padding: 10px;
    border: 10px 0 black;
    margin: 5px;
}

.navigation li {
	flex: 2 2 100%;
}

nav {
    text-align: right;
}

.navigation a:hover {
    color: #061A40;
    font-weight: 700;
	text-decoration: underline;
}

.hero {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 65px;
    color: aliceblue;
    background-color: #061A40;
    opacity: 0.8;
}

.hero article {
    position: absolute;
    width: 900px;
    color: aliceblue;
    background-color: #061A40;
    opacity: 0.9;
}

.hero article img {
    float: right;
    width: 250px;
    height: auto;
}

h2 {
    font-family: var(--heading-font);
    font-size: xx-large;
    text-decoration: underline;
}
.history {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.history article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.history article img {
    width: 370px;
    align-items: center;
}

