* {
    margin: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    background-color: lavender; 
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a {
    display: block;
    background-color: steelblue;
    padding: 20px;
    font-size: 1rem;
    font-weight: 700;
    color: #fefefe;
}
h1 {
    padding: 10px;
    margin: 10px;
    color: steelblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    padding: 10px;
    color: steelblue;
    background-color: lightgoldenrodyellow;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
    color: black;
    background-color: steelblue;
}

main {
    max-width: auto;
}

/* aside {
    width: 200px;
    margin: 10px;
    border: 10px solid black;
    padding: 1rem;
    background-color: #2E86AB;
    color: chocolate;
    text-align: center;
    width: 20em;
    text-align: center;
    position: relative;
} */

aside img {
    width: 250px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 270px;
    left: 237px;
}

#picture {
    float: right;
    clear: both;
}

footer, .grid, header {
    max-width: 840px;
    margin: 0 auto;
}

div {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows: minmax(100px, auto);
}

div aside {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    background-color: whitesmoke;
    width: 200px;
    margin: 10px;
    border: 10px solid black;
    padding: 1rem;
    background-color: #2E86AB;
    color: chocolate;
    text-align: center;
    width: 20em;
    text-align: center;
    position: relative;
}

div main {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 1;
    background-color: whitesmoke;
}