* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 1px solid black;
    --background-color: darkblue; 
    --color: whitesmoke;
    --text-align: center;
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: var(--color);
    display: block;
    padding: 20px;
    font-size: larger;
    font-weight: bold; 
    text-decoration: none;
}

h1 {
    color: darkblue;
    border-bottom: 1px solid darkblue;
    text-align: center;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 1rem 0 1rem 1rem;
}

p {
    padding: 0;
    margin: 1rem;
}

aside img {
    width: 200px;
    height: auto;
    border: var(--border);
}

aside h2 {
    position: absolute;
    top: 25px;
    left: 80px;
}

footer {
    margin-top: 10px;
    border-top: 1px solid black;
    text-align: var(--text-align);
}

/* Class Selector */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0,0.5);
    background-color: rgb(208, 238, 238);
    color: rgb(0, 0, 0);
}

.indent {
    padding-left: 35px;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1px;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: var(--text-align);
}