:root {
    --border: 1px solid black;
    --background-color: darkblue; 
    --color: whitesmoke;
    --text-align: center;
}


nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: var(--color);
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 400px;
    margin: 20px;
    border: var(--border);
    padding: 5px;
    background-color: var(--background-color);
    color: var(--color);
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: auto;
    border: var(--border);
}

footer {
    margin-top: 10px;
    border-top: 1px solid black;
    text-align: var(--text-align);
}
