* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 1px solid black;
    --background-color: darkblue; 
    --color: whitesmoke;
    --text-align: center;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: var(--color);
    display: block;
    padding: 20px;
}

main {
    max-width: 600px;
}

h1 {
    color: darkblue;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
    margin: 1rem;
}

aside {
    max-width: 400px;
    position: relative;
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: auto;
    border: var(--border);
}

aside h2 {
    position: absolute;
    top: 25px;
    left: 115px;
}

footer {
    margin-top: 10px;
    border-top: 1px solid black;
    text-align: var(--text-align);
}

/* Class Selector */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0,0.5);
    background-color: rgb(208, 238, 238);
    color: rgb(0, 0, 0);
}

.indent {
    padding-left: 35px;
}