* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

nav {
    background-color: rgb(27, 44, 59);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a {
    display: block;
    background-color: rgb(27, 44, 59);
    padding: 20px;
    font-size: 1rem;
    font-weight: 700;
    color: #fefefe;
}
h1 {
    padding: 10px;
    margin: 10px;
    color: rgb(31, 61, 84);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main img {
    display: flex;
    justify-content: end;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1rem 1rem 1rem 1rem;
}

p {
    padding: 10px;
    color: whitesmoke;
    background-color: rgb(56, 81, 102);
}

aside img {
    width: 265px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 18px;
    left: 80px;
}

footer, .grid, header {
    max-width: 840px;
    margin: 0 auto;
}

div {
    display: grid;
}

div aside {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    background-color: whitesmoke;
    width: 200px;
    margin: 10px;
    border: 10px solid black;
    padding: 1rem;
    background-color: #5a8ca2;
    color: chocolate;
    text-align: center;
    width: 20em;
    text-align: center;
    position: relative;
}

main {
    display: block;
    margin: 1rem;
    grid-column: 2;
}

footer {
    text-align: center;
    border-top: 2px solid black;
}

/* class selector */
.grid {
    display: grid;
    align-items: center;
}

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: lightgray;
    color: #fefefe;
}